# Clé API Groq pour les services de validation sémantique, modification SQL et génération Text-to-SQL
GROQ_API_KEY=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

# Configuration PostgreSQL (optionnel - déjà défini dans docker-compose.yml)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=semantic_cache_db

# Configuration Qdrant (optionnel - déjà défini dans docker-compose.yml)
VECTOR_DB_HOST=vector-db
VECTOR_DB_PORT=6333
